.main_cont {
  color:green;
  background-color:yellow;
}

#main_title {
  color:red;
  background-color:white;
}

.header_2 {
  color:blue;
  font-size: 15px;
  font-family: sans-serif;
}
.header_2 article {
  color:pink;
}
